*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    width: 1600px;
    color: #FFFFFF;
    padding: 16px 120px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .manu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
.logo{
    max-width: 139px;
    height: 60px;
}
nav .manu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}
.btn{
    background-color: #30B868;
    width: 164px;
    height: 44px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
#hero{
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    width: 2042px;
    height: 1363px;
}
#hero .hero-container{
    max-width: 1360px;
    text-align: center;
    padding: 154px 341px 180px;
}
#hero .hero-container .hero-title p{
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 19px;
    color: rgba(48, 184, 104, 1);
    background-color: white;
    margin: 0 auto;
    text-align: center;
    width: 230px;
    height: 35px;
    padding: 8px 32px 34px;
    border-radius: 1000px;
}
.green-color{
    color: #30B868;
}
#hero .hero-container .hero-title h1{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
#hero .hero-container .hero-mainp p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}
.btn2{
    background-color: #30B868;
    width: 251px;
    height: 52px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;

}
.btn3{
    background: none;
    width: 164px;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 1);;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 9px;
}
#notes{
    max-width: 1600px;
    padding: 0px 120px 120px 120px;
    text-align: center;
}
#notes .section-heading h1{
    font-size: 47px;
    line-height: 58px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
    margin: 0 auto;
    margin-top: 36px;
    color:#001931;
}
#notes .section-heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
#notes .section-info{
    display: flex;
    justify-content: space-between;
}
#notes .section-info img{
    background: rgba(249, 85, 85, 1);
    padding: 14px;
    border-radius: 1000px;
}
#notes .section-info h4{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-top: 16px;
}
#notes .section-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 275px;
    color: #627382;
    padding: 16px 24px 70px;
}



